<% layout('layouts/boilerplate') %> <% let theChapter = group.firstMemberChapter %>

<div class="container my-5 d-flex flex-column justify-content-center align-items-center">
	<div class="row mb-3 w-75 text-center">
		<div class="col">
			<h1>برنامج المجموعة: <%= group.number %></h1>
		</div>
		<div class="col">
			<a class="btn btn-lg btn-secondary mt-2" href="/groups" role="button">العودة للمجموعات</a>
		</div>
	</div>
	<div class="row w-75">
		<div class="col">
			<!-- Direct Whatsapp Share -->
			<!-- <a
				data-action="share/whatsapp/share"
				class="btn btn-success btn-lg btn-block my-5 w-100"
				id="copyButton"
				target="_blank"
				>نسخ</a
			> -->
			<button type="button" class="btn btn-success btn-lg btn-block my-5 w-100" id="copyButton">نسخ</button>
		</div>
	</div>
	<div class="row w-100 text-center">
		<div class="col-12 bg-white">
			<p id="todaysProgramText">
				<%= group.header %><br /><br />
				<span id="gregorian-date"></span><br />
				<span id="hijri-date"></span><br />
				<span>الختمة: <%= group.lap %><br /></span>
				<% for (member of group.members) { %> <%= member.number %>. <%= member.name.padEnd(25, '_') %><%= theChapter %><br />
				<% theChapter < 60 ? theChapter++ : theChapter = 1 } %> <%= group.footer %>
			</p>
		</div>
	</div>
</div>

<script>
	// Copy todays program
	function copyText(htmlElement) {
		if (!htmlElement) return;
		// // Direct Whatsapp Share
		// document.querySelector('#copyButton').setAttribute('href', `whatsapp://send?text=${htmlElement.innerText}`);
		var range = document.createRange(); // new Range object
		range.selectNodeContents(htmlElement); // sets the Range to contain the contents of a Node
		console.log(htmlElement.innerText);

		var selection = window.getSelection(); // a Selection object representing the range of text
		// selected by the user or the current position of the caret.
		selection.removeAllRanges(); // removes all ranges from the selection
		selection.addRange(range); // adds a Range to a Selection

		document.execCommand('copy'); // Copies the current selection to the clipboard
		selection.removeAllRanges(); // removes all ranges from the selection

		alert('لقد تم نسخ البرنامج');
	}

	document.querySelector('#copyButton').onclick = function () {
		copyText(document.querySelector('#todaysProgramText'));
	};

	function getHijriDate(date) {
		fetch(`https://api.aladhan.com/v1/gToH?date=${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`)
			.then((response) => response.json())
			.then((data) => {
				const hijri = data.data.hijri;
				document.querySelector('#hijri-date').innerText = 'الموافق ' + hijri.day + ' ' + hijri.month.ar + ' ' + hijri.year;
			});
	}

	function getGregorianDate(date, options) {
		document.querySelector('#gregorian-date').innerText = date.toLocaleString('ar-MA', options);
	}

	window.onload = function () {
		const date = new Date();
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

		getGregorianDate(date, options);
		getHijriDate(date);
	};
</script>
